body,html{
    color: #fff;
    height: 100%;
    width: 100%;
    float: left;
    overflow: hidden;
    background-color: #000;
}
.controlAnimation-stars{
    float: left;
    width: 90%;
    margin: 0 5%;
    padding: 40px 0;
    overflow: hidden;
    height: 100%;
}
.controlAnimation-stars span{
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    background-color: rgb(255, 255, 255);
    margin: 30px 40px;
}
